.App {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.signature-comparison-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
}

.signature-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.file-upload-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 30px;
}

.file-upload-button:hover {
    background-color: #45a049;
}

.preview-container {
    margin-top: 20px;
}

.image-preview {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.large-preview {
    max-width: 800px;
    max-height: 800px;
}

.verify-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.verify-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
}

.verify-button:hover {
    background-color: #45a049;
}

.verify-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.loading-message {
    font-size: 18px;
    color: #ff9900;
    margin-bottom: 15px;
    text-align: center;
}

.error-message {
    font-size: 18px;
    color: #ff4d4d;
    margin-bottom: 15px;
    text-align: center;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

select {
    width: 45%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border 0.3s ease;
}

select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

select:hover {
    border-color: #4CAF50;
    cursor: pointer;
}

.delete-button {
    background-color: #ff4d4d; /* Красный цвет для кнопки удаления */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #e60000; /* Более темный красный при наведении */
}

.delete-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Тень при фокусе на кнопке удаления */
}
